Source: laxkit
Section: graphics
Priority: optional
Maintainer: Tom Lechner <tomlechner@users.sourceforge.net>
Build-Depends: debhelper (>= 7.0.0), libx11-dev, libimlib2-dev, libpng12-dev, libfreetype6-dev, libxext-dev, libcups2-dev
Standards-Version: 3.8.4

Package: liblaxkit
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Laxkit, a C++ Gui Toolkit, dev files
 The Laxkit has a core windowing system with
 common windows like scrollbars, text edits, and
 the like, and also has several interfaces
 for manipulating various art related objects, particularly
 vector graphics objects like gradients, bezier patch gradients,
 image distortions, and paths.
 .
 The kit is still rather rough, but at least 1 out of 6.5 billion
 people is already using it for applications that he uses in the
 field.
 .
 This package contains the library and header files needed to
 compile programs using the Laxkit.
 .
 http://laxkit.sourceforge.org

Package: liblaxkit-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Laxkit documentation
 The Laxkit has a core windowing system with
 common windows like scrollbars, text edits, and
 the like, and also has several interfaces
 for manipulating various art related objects, particularly
 vector graphics objects like gradients, bezier patch gradients,
 image distortions, and paths.
 .
 The kit is still rather rough, but at least 1 out of 6.5 billion
 people is already using it for applications that he uses in the
 field.
 .
 This package contains the Laxkit documentation.
 .
 http://laxkit.sourceforge.org

Package: laxinput
Section: utils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Configure keyboards and mice under Xinput2
 Laxinput lets you configure the XInput2 device hierarchy by dragging
 and dropping devices to and from master devices. This allows you to
 use 2 mice independently at the same time, for instance.
 .
 http://laxkit.sourceforge.org

